
/multicycle-riscv-prj/multicycle-riscv-prj.runs
/multicycle-riscv-prj/multicycle-riscv-prj.cache
/multicycle-riscv-prj/multicycle-riscv-prj.hw
/multicycle-riscv-prj/multicycle-riscv-prj.sim
multicycle-riscv-prj/vivado.log
multicycle-riscv-prj/vivado_pid34744.str
multicycle-riscv-prj/vivado.jou
/gowin-prj/impl/temp
/gowin-prj/impl
gowin-prj/gowin-prj.gprj.user
gowin-prj/src/gowin_rpll/gowin_rpll_tmp.v
*.o
*.elf
